<!DOCTYPE html>
<html>
    <head>
        <title>Create Sprint</title>
    </head>
    <body>
        <form method="POST">
            <label>Sprint Start:</label>
            <input type="date" name="start" placeholder="Sprint Start" required><br/>
            <label>Sprint End:</label>
            <input type="date" name="end" placeholder="Sprint End" required><br/>
            <input type = "submit" value = "Enter"/><br/>
        </form>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>
    </body>
</html>