<!DOCTYPE html>
<html>
    <head>
        <title>Sprints</title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('sprint.createSprints') }}';">Create Sprints</button>
        {% if access == 1 %}
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('sprint.deleteSprints') }}';">Delete Sprints</button>
        {% endif %}
        <table style="width:100%">
            <tr>
              <th>Sprint</th>
              <th>Start</th>
              <th>End</th>
            </tr>
            {%for sprint in data%}
                <tr>
                 <td>{{sprint[0]}}</td>
                 <td>{{sprint[1]}}</td>
                 <td>{{sprint[2]}}</td>
                </tr>
            {%endfor%}
          </table>  
          <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>        
    </body>
</html>