<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <form method="POST">
            <label>Enter Name:</label>
            <input type="name" name="name" placeholder="Enter name" required><br/>
            <label>Enter Temp Password:</label>
            <input type="password" name="password" placeholder="Enter temp password" required><br/>
            <label>Admin?</label>
            <input type="checkbox" name="admin"><br/>
            <input type = "submit" value = "Sign up"/><br/>
        </form>
    </body>
</html>