<!DOCTYPE html>
<html>
<head>
    <title>Delete Sprint</title>
    <script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
</head>
<body>
    <form method="POST" onsubmit="confirmSubmission(event, 'delete', 'sprint')">
        <label>Sprint:</label>
        <select name="Sprint" required>
            {% for sprint in sprints %}
                <option value="{{ sprint }}">{{ sprint }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Delete Sprint"/><br/>
        <button type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>
    </form>
</body>
</html>