<!DOCTYPE html>
<html>
    <head>
        <title>Home Page </title>
    </head>
    <body>
        <h1>Welcome</h1>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('logout') }}';">Sign out</button><br/>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('sprints') }}';">Check sprint list</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('users') }}';">View users</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('tickets') }}';">View tickets</button>
    </body>
</html>