<!DOCTYPE html>
<html>
    <head>
        <title>Home Page </title>
    </head>
    <body>
        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Welcome</h1>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('auth.logout') }}';">Sign out</button><br/>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.sprints') }}';">Check sprint list</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.users') }}';">View users</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.tickets') }}';">View tickets</button>
        <button class="btn" type="button" onclick="window.location.href='{{ url_for('user.resetPass') }}';">Reset password</button>
    </body>
</html>