<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
        <script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <button class="btn"  type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>
        <form method="POST" onsubmit="confirmSubmission(event, 'reset', 'password')">
            <label>Existing Password:</label>
            <input type="password" name="password" placeholder="Enter password" required><br/>
            <label>Enter New Password:</label>
            <input type="password" name="newPass" placeholder="Enter new password" required><br/>
            <input type = "submit" class="btn" value = "Confirm"/><br/>
        </form>
    </body>
</html>