<!DOCTYPE html>
<html>
    <head>
        <title>Sprints</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="top-left-buttons">
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>   
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('sprint.createSprints') }}';">Create Sprints</button>
        </div>
        <table style="width:100%">
            <tr>
              <th>Sprint</th>
              <th>Start</th>
              <th>End</th>
            </tr>
            {%for sprint in data%}
                <tr>
                 <td>{{sprint[0]}}</td>
                 <td>{{sprint[1]}}</td>
                 <td>{{sprint[2]}}</td>
                 {% if access == 1 %}
                 <td>
                    <a class="btn btn-red" href="{{ url_for('sprint.deleteSprints', sprint_id=sprint[0]) }}" onclick="return confirm('Delete Sprint?');">Delete</a>
                </td>
                {% endif %}
                </tr>
            {%endfor%}
          </table>       
    </body>
</html>