<!DOCTYPE html>
<html>
    <head>
        <title>Tickets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
    <body>
        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="top-left-buttons">
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('page.home') }}';">Home</button><br/>
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('ticket.createTickets') }}';">Create Tickets</button>
        </div>
        <table style="width:100%">
            <tr>
              <th>Ticket Number</th>
              <th>Sprint</th>
              <th>User ID</th>
              <th>Description</th>
              <th>Story Points</th>
            </tr>
            {%for ticket in data%}
                <tr>
                 <td>{{ticket[0]}}</td>
                 <td>{{ticket[1]}}</td>
                 <td>{{ticket[2]}}</td>
                 <td>{{ticket[3]}}</td>
                 <td>{{ticket[4]}}</td>
                 <td>
                    <a class="btn" href="{{ url_for('ticket.editTickets', ticket_id=ticket[0]) }}" onclick="return confirm('Edit ticket?');">Edit </button>
                    {% if access == 1 %}
                    <a class="btn btn-red" href="{{ url_for('ticket.deleteTickets', ticket_id=ticket[0]) }}" onclick="return confirm('Delete ticket?');">Delete</a>
                    {% endif %}
                </td>
                </tr>
            {%endfor%}
          </table>      
    </body>
</html>